<div class="row lower-page-content-wraper">
    <div class="container" id="product-types">
        <div class="col-lg-3 col-sm-6 col-xs-12 home-product-link-wrap" ng-repeat="product in categories">
            <b>{{product.name}}</b>
        </div>
    </div>
</div>

<div class="container-fluid" id="home-fluid-wrap">
    <div id="home-text" class="row">
        <div class="col-lg-offset-3 col-lg-5 col-md-6 col-xs-12">
            <h1 style="text-align: center">Spark POC</h1>
        </div>
    </div>
</div>

